@charset "UTF-8";

/*
    em HTML é id     = em CSS é # (só pode um elemento)
    em HTML é class  = em CSS é . (pode vários elementos)
*/


body{
    background-color: rgb(227, 248, 227);
}

h1{
    color: rgb(4,109,0);
}

h1#principal {
    text-align: center;
    background-color: rgb(3, 80, 1);
    color: white;
}

h2{
    color: rgb(101, 133, 99);
}

.basico {
    color: rgb(101, 133, 99);
    font-weight: bold;
}

.intermediario{
    color: rgb(184, 179, 121);
}

.avancado{
    color: rgb(172, 117, 117);
}

.destaque {
    background-color: rgb(235, 235, 100);
}